{% extends "entidades/index.html" %}

{%block titulo %}
<h1 class="text-white font-weight-bold">Acerca de mí</h1>
{%endblock titulo %}

{%block subtitulo %}
<p class="text-white-75 mb-5">Bienvenido a esta breve reseña sobre el autor de esta página web</p>
<h4 class="text-white mb-5"> Mi nombre es Nicolas Chumacero, soy de Perú, mi proyecto trata sobre una plataforma con la que interactúo todos los días, ya que trabajo en la Escuela de Posgrado de la Pontificia Universidad Católica del Perú. Es así como busque replantear el proceso de graduación y hacerlo más sencillo para los usuarios involucrados.</h4>
<h5 class="text-white mb-5"> Email: nicolas.chumacero@pucp.pe</h5>


{%endblock subtitulo %}

{%block contenido %}

{%endblock contenido %}