{% extends "entidades/index.html" %}

{%block titulo %}
<h1 class="text-white font-weight-bold">Alumnos</h1>
{%endblock titulo %}

{%block subtitulo %}
<p class="text-white-75 mb-5">Ingrese a su proceso de graduación</p>
{%endblock subtitulo %}

{%block contenido %}

<table>
    <tr>
        <td width="200"><h2>Alumnos</h2></td>
        <td>
            <a
            href="{% url 'alumnoForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Código</th>
            <th>Maestría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in alumno %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.codigo }}</td>
            <td>{{ c.maestria }}</td>
            <td>
                <a
                  href="{% url 'alumnoUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'alumnoDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>    
        </tr>
    {% endfor %}
    </tbody>
</table>  
{%endblock contenido %}