{% extends "entidades/index.html" %}

{%block titulo %}
<h1 class="text-white font-weight-bold">Sustentaciones</h1>
{%endblock titulo %}

{%block subtitulo %}
<p class="text-white-75 mb-5">Registre la fecha, hora y lugar de su sustentación</p>
{%endblock subtitulo %}

{%block contenido %}

<table>
    <tr>
        <td width="200"><h2>Sustentaciones</h2></td>
        <td>
            <a
            href="{% url 'sustentacionCreate' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha de sustentación</th>
            <th>Lugar</th>
            <th>Mención</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in sustentacion_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.fecha_sust }}</td>
            <td>{{ c.lugar }}</td>
            <td>{{ c.mencion }}</td>
            <td>
                <a
                  href="{% url 'sustentacionUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'sustentacionDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>    
        </tr>
    {% endfor %}
    </tbody>
</table>        
{%endblock contenido %}