{% extends "entidades/index.html" %}

{%block titulo %}
<h1 class="text-white font-weight-bold">Eliminar registro de Trabajo de Grado</h1>
{%endblock titulo %}

{%block subtitulo %}
<p class="text-white-75 mb-5"></p>
{%endblock subtitulo %}

{%block contenido %}

<form action="" method="post">
    {% csrf_token %}
    <div class ="text-center">
        <h4 class="mb-5">¿Está seguro de eliminar el registro de este trabajo de grado? <p style ="color:red">{{ object }}</p></h4>
    </div>
    <div class ="text-center">
        <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
    </div>
</form>
   
{%endblock contenido %}